aside{
  list-style: circle;
  width: 260px;
}

header{
  display: flex;
  justify-content: center;
}



section{
  width: 700px;
}

.content-in-rows{
  display: flex;
  flex-direction: row;
}

.out-style-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

main{
  max-width: 960px;
  min-width: 960px;
  width: 960px;
  margin: 0 auto;
}